<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<main th:fragment="cadastra-funcionario">
    <div class="container-main">
        <div class="titulo">
            <h3>Formulário para Cadastros:</h3>
        </div>
        <form class="form-group borda" th:action="@{/salva-funcionario}" th:object="${funcionario}" method="POST">
            <div class="row mb-3">
                <label for="nomefuncionario" class="col-sm-2 col-form-label">Novo funcionario</label>
                <div class="col-sm-10 input">
                    <input type="text" class="form-control" id="nomefuncionario" placeholder="Digite seu Nome"
                           maxlength="80" required th:field="*{nome}">
                </div>
            </div>
            <div class="row mb-3">
                <label for="cpfFuncionario" class="col-sm-2 col-form-label">CPF</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="cpfFuncionario" placeholder="Digite seu CPF" maxlength="11"
                           required th:field="*{cpf}">
                </div>
            </div>
            <div class="row mb-3">
                <label for="registroFuncionario" class="col-sm-2 col-form-label">Registro</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="registroFuncionario" placeholder="Digite seu Registro" maxlength="20"
                           required th:field="*{registro}">
                </div>
            </div>
            <div class="row mb-3">
                <label for="tipoFuncionario" class="col-sm-2 col-form-label">Tipo</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="tipoFuncionario" placeholder="Digite seu Tipo" maxlength="20"
                           required th:field="*{tipo}">
                </div>
            </div>
            <div class="row mb-3">
                <label for="enderecofuncionario" class="col-sm-2 col-form-label">Endereço</label>
                <div class="col-sm-10">
                    <select class="form-select" aria-label="Default select" id="enderecofuncionario" required
                            th:field="*{endereco.id}">
                        <option value="0" selected>Selecione</option>
                        <option th:each="endereco : ${enderecos}" th:value="${endereco.id}"
                                th:text="${endereco.logradouro}">
                        </option>
                    </select>
                </div>
            </div>
            <div class="btn-grupo">
                <button type="submit" class="btn botao btn-success">Concluído</button>
                <button type="submit" class="btn botao btn-primary">Cancelar</button>
                <button type="submit" class="btn botao btn-warning">Atualizar</button>
                <button type="submit" class="btn botao btn-danger">Deletar</button>
            </div>
        </form>

    </div>
</main>

</html>
