<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="cadastra-cliente">
    <main class="body-first">
        <div class="div-form-first">
            <form class="form-main" th:action="@{/salvar-cliente}"
                  th:object="${cliente}" method="POST">
                <fieldset class="grupo">
                    <div class="campo">
                        <label for="nome-cliente">Novo Cliente</label>
                        <input type="text" name="nome-cliente" id="cliente" placeholder="Nome do Cliente" maxlength="80" required th:field="${cliente.name}">
                    </div>
                    <div class="campo">
                        <label for="nome-cpf">CPF (Apenas Números)</label>
                        <input type="text" name="cpf" id="cpf" placeholder="CPF do Cliente" maxlength="11" required th:field="${cliente.cpf}">
                    </div>
                    <div class="campo">
                        <label for="nome-dataInscricao">Data da Inscrição</label>
                        <input type="text" name="dataInscricao" id="dataInscricao" placeholder="Data da Inscrição" maxlength="80" required th:field="${cliente.dataInscricao}">
                    </div>
                    <div class="campo">
                        <label for="nome-genero">Gênero</label>
                        <input type="text" name="genero" id="genero" placeholder="Gênero" maxlength="80" required th:field="${cliente.genero}">
                    </div>
                    <div class="campo">
                        <label for="nome-endereco">Endereço</label>
                        <input type="text" name="endereco" id="endereco" placeholder="Endereço" maxlength="80" required th:field="${cliente.endereco}">
                    </div>
                </fieldset>
                <button type="submit" class="botao">Concluído</button>
            </form>
        </div>
    </main>
</div>

</html>