<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="cadastra-cliente">
    <main class="body-first">
        <div class="div-form-first">
            <form class="form-main" th:action="@{/salva-cliente}" th:object="${cliente}" method="POST">
                <fieldset class="grupo">
                    <div class="campo">
                        <label for="nome-cliente">Novo Cliente</label>
                        <input type="text" name="nome-cliente" id="nome-cliente"
                               placeholder="Digite seu Nome" maxlength="80" required
                               th:field="*{nome}">
                    </div>
                    <div class="campo">
                        <label for="cpf-cliente">CPF</label>
                        <input type="text" name="cpf-cliente" id="cpf-cliente"
                               placeholder="Digite seu CPF" maxlength="11" required
                               th:field="*{cpf}">
                    </div>
                    <div class="campo">
                        <label for="data-inscricao">Data da inscrição</label>
                        <input type="date" name="data-inscricao" id="data-inscricao" required
                               th:field="*{dataInscricao}">
                    </div>
                    <div class="campo">
                        <label for="genero-cliente">Gênero</label>
                        <input type="text" name="genero-cliente" id="genero-cliente"
                               placeholder="Digite seu Gênero" maxlength="40" required
                               th:field="*{genero}">
                    </div>
                    <div class="campo">
                        <label for="endereco-cliente">Selecione o Endereço</label>
                        <select name="endereco-cliente" id="endereco-cliente" required
                                th:field="*{endereco.id}">
                            <option value="0" selected>Selecione</option>
                            <option th:each="endereco : ${enderecos}"
                                    th:value="${endereco.id}" th:text="${endereco.logradouro}">
                            </option>
                        </select>
                    </div>
                </fieldset>
                <button type="submit" class="botao">Concluído</button>
            </form>
        </div>
    </main>
</div>
</html>
