<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cliente</title>
<body>
    <div th:replace="~{cabecalho::menu}"></div>

	<!--<div th:replace="~{solicitante/cadastro::cadastro-solicitante}"></div>
	<div th:replace="~{solicitante/lista::lista-solicitantes}"></div>
	
	<div th:replace="~{rodape::footer}"></div>-->
</body>
</html>