<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="lista-clientes">
    <main class="body-first">
        <h3 class="titulo-tabela">Listagem dos Clientes:</h3>
        <div id="div-table">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Nome</th>
                    <th scope="col">CPF</th>
                    <th scope="col">Data Inscrição</th>
                    <th scope="col">Gênero</th>
                    <th scope="col">Endereço</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="cliente : ${clientes}">
                    <td th:text="${cliente.id}">id</td>
                    <td th:text="${cliente.nome}">nome</td>
                    <td th:text="${cliente.cpf}">cpf</td>
                    <td th:text="${#temporals.format(cliente.dataInscricao, 'dd/MM/yyyy')}">data</td>
                    <td th:text="${cliente.genero}">genero</td>
                    <td th:text="${cliente.endereco.logradouro}">endereco</td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>
</div>
</html>
