<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<main th:fragment="lista-clientes">
    <div class="container-main">
        <div class="titulo">
            <h3>Listagem dos Clientes</h3>
        </div>
        <div class="borda">
            <table class="table tabela">
                <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">CPF</th>
                    <th scope="col">Data Inscrição</th>
                    <th scope="col">Gênero</th>
                    <th scope="col">Endereço</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="cliente : ${clientes}">
                    <td th:text="${cliente.nome}">nome</td>
                    <td th:text="${cliente.cpf}">cpf</td>
                    <td th:text="${#temporals.format(cliente.dataInscricao, 'dd/MM/yyyy')}">dataInscricao</td>
                    <td th:text="${cliente.genero}">genero</td>
                    <td th:text="${cliente.endereco.logradouro}">endereco</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>

</html>
