<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<main th:fragment="cadastra-endereco">
    <div class="container-main">
        <div class="titulo">
            <h3>Formulário para Cadastros:</h3>
        </div>
        <form class="form-group borda" th:action="@{/salva-endereco}" th:object="${endereco}" method="POST">
            <div class="row mb-3">
                <label for="paisEndereco" class="col-sm-2 col-form-label">Novo País</label>
                <div class="col-sm-10 input">
                    <input type="text" class="form-control" id="paisEndereco" placeholder="Digite o país"
                           maxlength="80" required th:field="*{pais}">
                </div>
            </div>
            <div class="row mb-3">
                <label for="ufEndereco" class="col-sm-2 col-form-label">UF</label>
                <div class="col-sm-10 input">
                    <input type="text" class="form-control" id="ufEndereco" placeholder="Digite a UF"
                           maxlength="280" required th:field="*{uf}">
                </div>
            </div>
            <div class="row mb-3">
                <label for="municipioEndereco" class="col-sm-2 col-form-label">Município</label>
                <div class="col-sm-10 input">
                    <input type="text" class="form-control" id="municipioEndereco" placeholder="Digite o município"
                           maxlength="180" required th:field="*{municipio}">
                </div>
            </div>
            <div class="row mb-3">
                <label for="logradouroEndereco" class="col-sm-2 col-form-label">Logradouro</label>
                <div class="col-sm-10 input">
                    <input type="text" class="form-control" id="logradouroEndereco" placeholder="Digite o logradouro"
                           maxlength="80" required th:field="*{logradouro}">
                </div>
            </div>
            <div class="row mb-3">
                <label for="numeroEndereco" class="col-sm-2 col-form-label">Número</label>
                <div class="col-sm-10 input">
                    <input type="text" class="form-control" id="numeroEndereco" placeholder="Digite o número"
                           maxlength="80" required th:field="*{numero}">
                </div>
            </div>
            <div class="row mb-3">
                <label for="complementoEndereco" class="col-sm-2 col-form-label">Complemento</label>
                <div class="col-sm-10 input">
                    <input type="text" class="form-control" id="complementoEndereco" placeholder="Digite o complemento"
                           maxlength="280" required th:field="*{complemento}">
                </div>
            </div>
            <div class="row mb-3">
                <label for="cepEndereco" class="col-sm-2 col-form-label">CEP</label>
                <div class="col-sm-10 input">
                    <input type="text" class="form-control" id="cepEndereco" placeholder="Digite o CEP"
                           maxlength="80" required th:field="*{cep}">
                </div>
            </div>
            <div class="btn-grupo">
                <button type="submit" class="btn botao btn-success">Concluído</button>
                <button type="submit" class="btn botao btn-primary">Cancelar</button>
                <button type="submit" class="btn botao btn-warning">Atualizar</button>
                <button type="submit" class="btn botao btn-danger">Deletar</button>
            </div>
        </form>

    </div>
</main>

</html>