<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<main th:fragment="lista-enderecos">
    <div class="container-main">
        <div class="titulo">
            <h3>Listagem dos Clientes:</h3>
        </div>
        <div class="borda">
            <table class="table tabela">
                <thead>
                <tr>
                    <th scope="col">País</th>
                    <th scope="col">UF</th>
                    <th scope="col">Município</th>
                    <th scope="col">Logradouro</th>
                    <th scope="col">Número</th>
                    <th scope="col">Complemento</th>
                    <th scope="col">CEP</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="endereco : ${enderecos}">
                    <td th:text="${endereco.pais}">País</td>
                    <td th:text="${endereco.uf}">UF</td>
                    <td th:text="${endereco.municipio}">Município</td>
                    <td th:text="${endereco.logradouro}">Logradouro</td>
                    <td th:text="${endereco.numero}">Numero</td>
                    <td th:text="${endereco.complemento}">Complemento</td>
                    <td th:text="${endereco.cep}">CEP</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>

</html>
