<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<main th:fragment="lista-enderecos">
    <div class="container-main">
        <div class="titulo">
            <h3>Listagem dos Endereços</h3>
        </div>
        <div class="borda">
            <table class="table tabela">
                <thead>
                <tr>
                    <th scope="col">CEP</th>
                    <th scope="col">Logradouro</th>
                    <th scope="col">Complemento</th>
                    <th scope="col">Bairro</th>
                    <th scope="col">Localidade</th>
                    <th scope="col">UF</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="endereco : ${enderecos}">
                    <td th:text="${endereco.cep}">cep</td>
                    <td th:text="${endereco.logradouro}">logradouro</td>
                    <td th:text="${endereco.complemento}">complemento</td>
                    <td th:text="${endereco.bairro}">bairro</td>
                    <td th:text="${endereco.localidade}">localidade</td>
                    <td th:text="${endereco.uf}">uf</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>

</html>
