<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<main th:fragment="salva-endereco">
    <div class="container-main">
        <div class="titulo">
            <h3>Endereço</h3>
        </div>
        <form class="form-group borda" th:action="@{/endereco/salva-endereco}" th:object="${endereco}" method="POST">
            <div class="row mb-3">
                <label for="endereco" class="col-sm-2 col-form-label">Novo Endereço</label>
                <div class="col-sm-10 input">
                    <input type="text" class="form-control" id="endereco" name="endereco" placeholder="Digite o CEP"
                           maxlength="80" required th:field="*{cep}">
                </div>
            </div>

            <div class="btn-grupo">
                <button type="submit" class="btn botao btn-success">Concluído</button>
            </div>

            <!--<label for="cep">CEP:</label>
            <input type="text" id="cep" th:field="*{cep}" name="cep">
            <button type="submit">Salvar Endereço</button>
            <div th:if="${#fields.hasErrors('cep')}" th:errors="*{cep}">
                <span class="error">CEP inválido</span>
            </div>-->
        </form>

        <div>
            <button onclick="abrirPopup()">Abrir Pop-up Centralizado</button>
            <script>
                function abrirPopup() {
                    // Dimensões da janela
                    var larguraJanela = 950;
                    var alturaJanela = 550;

                    // Obtendo as dimensões da tela
                    var larguraTela = window.innerWidth;
                    var alturaTela = window.innerHeight;

                    // Calculando as coordenadas para centralizar
                    var horizontal = (larguraTela - larguraJanela) / 2;
                    var vertical = (alturaTela - alturaJanela) / 2;

                    // Altera posicao
                    var esquerda = horizontal - 0;
                    var topo = vertical + 0;

                    // Abrindo a janela com as coordenadas calculadas
                    window.open("http://localhost:8080/endereco/edita-endereco", "MinhaJanela",
                        "width=" + larguraJanela +
                        ",height=" + alturaJanela +
                        ",left=" + esquerda +
                        ",top=" + topo);
                }
            </script>
        </div>

    </div>
</main>

</html>
