<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<main th:fragment="salva-fornecedor">
    <div class="container-main">
        <div class="titulo">
            <h3>Formulário para Cadastros:</h3>
        </div>
        <form class="form-group borda" th:action="@{/salva-fornecedor}" th:object="${fornecedor}" method="POST">
            <div class="row mb-3">
                <label for="nomeFornecedor" class="col-sm-2 col-form-label">Novo fornecedor</label>
                <div class="col-sm-10 input">
                    <input type="text" class="form-control" id="nomeFornecedor" placeholder="Digite o nome fantazia"
                           maxlength="80" required th:field="*{nomeFantazia}">
                </div>
            </div>
            <div class="row mb-3">
                <label for="cnpjFornecedor" class="col-sm-2 col-form-label">CNPJ</label>
                <div class="col-sm-10 input">
                    <input type="text" class="form-control" id="cnpjFornecedor" placeholder="Digite o CNPJ"
                           maxlength="14" required th:field="*{cnpj}">
                </div>
            </div>
            <div class="row mb-3">
                <label for="dataInscricao" class="col-sm-2 col-form-label">Data da inscrição</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" id="dataInscricao" required th:field="*{dataInscricao}">
                </div>
            </div>
            <div class="row mb-3">
                <label for="enderecofornecedor" class="col-sm-2 col-form-label">Endereço</label>
                <div class="col-sm-10">
                    <select class="form-select" aria-label="Default select" id="enderecofornecedor"
                            required th:field="*{endereco.id}">
                        <option value="0" selected>Selecione</option>
                        <option th:each="endereco : ${enderecos}" th:value="${endereco.id}"
                                th:text="${endereco.logradouro}">
                        </option>
                    </select>
                </div>
            </div>

            <div class="btn-grupo">
                <button type="submit" class="btn botao btn-success">Concluído</button>
                <button type="submit" class="btn botao btn-primary">Cancelar</button>
                <button type="submit" class="btn botao btn-warning">Atualizar</button>
                <button type="submit" class="btn botao btn-danger">Deletar</button>
            </div>
        </form>

    </div>
</main>

</html>
