<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="menu">
	<nav class="navbar navbar-expand-lg navbar-dark">
		<div class="logotipo card-cabecalho">
			<a class="navbar-brand" href="#">Brand</a>
		</div>
		<div class="collapse navbar-collapse card-cabecalho" id="main_nav">
			<ul class="navbar-nav">
				<li class="nav-item active"> <a class="nav-link" href="#">Início</a> </li>
				<li class="nav-item active"><a class="nav-link" href="#">About</a></li>
				<li class="nav-item active"><a class="nav-link" href="http://localhost:8080/venda">Realizar Venda</a></li>
				<li class="nav-item dropdown">
					<a class="nav-link  dropdown-toggle active" href="#" data-toggle="dropdown">Serviços</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="http://localhost:8080/cliente">Cliente</a></li>
						<li><a class="dropdown-item" href="http://localhost:8080/produto">Produto</a></li>
						<li><a class="dropdown-item" href="http://localhost:8080/fornecedor">Fornecedor</a></li>
						<li><a class="dropdown-item" href="http://localhost:8080/vendedor">Vendedor</a></li>
						<li><a class="dropdown-item" href="http://localhost:8080/endereco">Endereço</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="entrar card-cabecalho">
			<a href="#">USUÁRIO-01</a>
		</div>
	</nav>
</header>

</html>
