<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<main th:fragment="salva-venda">
    <div class="container-main">
        <div class="titulo">
            <h3>Realizar Venda</h3>
        </div>
        <form class="form-group borda" th:action="@{/salva-venda}" th:object="${venda}" method="POST">
            <div class="row mb-3">
                <label for="produtoVenda" class="col-sm-2 col-form-label">Escolha o produto</label>
                <div class="col-sm-10">
                    <select class="form-select" aria-label="Default select" id="produtoVenda" required
                            th:field="*{produto.id}">
                        <option value="0" selected>Selecione</option>
                        <option th:each="produto : ${produtos}" th:value="${produto.id}"
                                th:text="${produto.descricao}">
                        </option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <label for="vendedorVenda" class="col-sm-2 col-form-label">Escolha o vendedor</label>
                <div class="col-sm-10">
                    <select class="form-select" aria-label="Default select" id="vendedorVenda" required
                            th:field="*{vendedor.id}">
                        <option value="0" selected>Selecione</option>
                        <option th:each="vendedor : ${vendedores}" th:value="${vendedor.id}"
                                th:text="${vendedor.nome}">
                        </option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <label for="clienteVenda" class="col-sm-2 col-form-label">Escolha o cliente</label>
                <div class="col-sm-10">
                    <select class="form-select" aria-label="Default select" id="clienteVenda" required
                            th:field="*{cliente.id}">
                        <option value="0" selected>Selecione</option>
                        <option th:each="cliente : ${clientes}" th:value="${cliente.id}"
                                th:text="${cliente.nome}">
                        </option>
                    </select>
                </div>
            </div>
            <div class="btn-grupo">
                <button type="submit" class="btn botao btn-success">Concluído</button>
                <button type="submit" class="btn botao btn-primary">Cancelar</button>
                <button type="submit" class="btn botao btn-warning">Atualizar</button>
                <button type="submit" class="btn botao btn-danger">Deletar</button>
            </div>
        </form>

    </div>
</main>

</html>
