<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="cadastra-produto">
    <main class="body-first">
        <div class="div-form-first">
            <form class="form-main" th:action="@{/salva-produto}" th:object="${produto}" method="POST">
                <fieldset class="grupo">
                    <div class="campo">
                        <label for="descricao">Descrição</label>
                        <input type="text" name="descricao" id="descricao"
                               placeholder="Digite a Descrição" maxlength="80" required
                               th:field="*{descricao}">
                    </div>
                    <div class="campo">
                        <label for="preco">Preço</label>
                        <input type="text" name="preco" id="preco"
                               placeholder="Digite o preço" maxlength="11" required
                               th:field="*{preco}">
                    </div>
                    <div class="campo">
                        <label for="observacao">Observação</label>
                        <input type="text" name="observacao" id="observacao" required
                               th:field="*{observacao}">
                    </div>
                </fieldset>
                <button type="submit" class="botao">Concluído</button>
            </form>
        </div>
    </main>
</div>
</html>
