<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<main th:fragment="lista-produtos">
    <div class="container-main">
        <div class="titulo">
            <h3>Listagem dos produtos:</h3>
        </div>
        <div class="borda">
            <table class="table tabela">
                <thead>
                <tr>
                    <th scope="col">Descrição</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Observação</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="produto : ${produtos}">
                    <td th:text="${produto.descricao}">descricao</td>
                    <td th:text="${produto.preco}">preco</td>
                    <td th:text="${produto.observacao}">observacao</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>

</html>
